<!-- =========================================
Footer
========================================== -->

<footer class="footer">

    <div class="footer-content">

        <!-- Title -->

        <h3>
            Harsh <span>Darji</span>
        </h3>

        <!-- Description -->

        <p>
            Senior iOS Engineer focused on scalable iOS applications,
            realtime systems, AI integrations
            and clean architecture.
        </p>

        <!-- Links -->

        <div class="footer-links">

            <a
                href="mailto:dev.iharsh1008@gmail.com"
            >
                Email
            </a>

            <a
                href="https://github.com/dev1008iharsh"
                target="_blank"
            >
                GitHub
            </a>

            <a
                href="https://linkedin.com/in/dev1008iharsh"
                target="_blank"
            >
                LinkedIn
            </a>

        </div>

        <!-- Copyright -->

        <div class="footer-bottom">

            © 2026 Harsh Darji

        </div>

    </div>

</footer>
